name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.x

    - name: Restore packages
      run: dotnet restore

    - name: Install Coverlet
      run: dotnet tool install --global coverlet.console

    - name: Build solutions
      run: dotnet build --configuration Debug --no-restore

    - name: Testing Logic
      run: coverlet MiniRpg2022.Logic.UnitTests/bin/Debug/net9/MiniRpg2022.Logic.UnitTests.dll --target "dotnet" --targetargs "test MiniRpg2022.Logic.UnitTests/MiniRpg2022.Logic.UnitTests.csproj --no-build --verbosity quiet" --format OpenCover --output minirpg2022.logic.coverage.xml

    - name: Testing Console
      run: coverlet MiniRpg2022.Console.UnitTests/bin/Debug/net9/MiniRpg2022.Console.UnitTests.dll --target "dotnet" --targetargs "test MiniRpg2022.Console.UnitTests/MiniRpg2022.Console.UnitTests.csproj --no-build --verbosity quiet" --format OpenCover --output minirpg2022.console.coverage.xml

    - name: Upload coverage to CodeCov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    - name: Archive code coverage results
      uses: actions/upload-artifact@v5
      with:
        name: code-coverage-report
        path: ./*.coverage.xml
